# Lisensi dan aktivasi (file sensitif)
user.lic
activated.txt

# File backup atau pribadi
radit.txt
*.zip
*.rar

# Build output
/dist/
/build/
__pycache__/
*.spec

# Editor/OS-specific
.vscode/
*.log
.DS_Store
Thumbs.db

License Code.code-search
RalicenseCreator.spec
# ✅ Abaikan semua file di root
/*

# ✅ Tapi jangan abaikan folder license_api
!license_api/
!license_api/**

# ✅ Tetap track file gitignore
!.gitignore
